*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    background:linear-gradient(135deg,#141E30,#243B55);
}

.container{
    width:400px;
    background:#fff;
    padding:25px;
    border-radius:15px;
    text-align:center;
    box-shadow:0 5px 15px rgba(0,0,0,0.3);
}

h1{
    margin-bottom:20px;
}

input{
    width:100%;
    padding:10px;
    margin-bottom:10px;
    border:2px solid #ccc;
    border-radius:8px;
}

button{
    width:100%;
    padding:10px;
    background:#007BFF;
    color:white;
    border:none;
    border-radius:8px;
    cursor:pointer;
    font-size:16px;
}

button:hover{
    background:#0056b3;
}

#movieResult{
    margin-top:20px;
}

img{
    width:200px;
    border-radius:10px;
    margin-bottom:15px;
}

h2{
    margin:10px 0;
}

p{
    margin:5px 0;
}
